<nav  style="background-color: lightgray" class="navbar fixed-bottom bg-body-tertiary">
    <div class="footer">
    <small>Copyright &copy; 2023 Infinity Marketplace.</small>
    </div>
</nav>
</body>
</html>