<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/CSS/style.css" />
    <title>Infinity Marketplace</title>
     <h1 class="bg-light w-100 text-center p-2">     <!-- styling for header-->
        Welcome to the Infinity Marketplace!
      </h1>
  </head>
  <body>
     
